/*
General Styles

  Colors
*/

$highlight: #363b74;
$text: dimgray;
$text-light: #9A9A9A;
$body-background: #d7c6cf;
$font: 'Acme', sans-serif;

@import 'media';

//Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    background: $body-background;
    text-align: center;
}

/*Using body as wrapper by setting it's max-width*/
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    max-width: 43.75em; // 880/16
    margin: 0 auto;
    padding: 0;
    color: $text;

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        color: inherit;
    }

    /*
    Header Styles
    */

    header {
        margin: 1em 0 2em;
        color: $highlight;

        h1 {
            font-family: $font;
            font-size: 3em;
            text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
            margin: 0;

            a {
                text-decoration: none;
            }
        }

        p {
            margin-top: -.625em;
            text-indent: 7.75em; //indent slightly
            text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
            font-size: .875em; // 14/16
        }
    }

    /*
    Form Input
    Styles for the form input and button
    */

    form {
        position: relative;

        input {
            width: 100%;
            display: block;
            font-size: 1em;
            padding: .625em .85em;
            padding-right: 7em;
            line-height: 1.5;
            margin: 0;
            border: 1px solid #bbb;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset,
            0 2px 4px rgba(0, 0, 0, .1);
            @include border-radius(3px);

            &:focus {
                border-color: #d7c6cf;
            }
        }

        button {
            text-decoration: none;
            background: $highlight;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 1.5;
            color: #dfdfde;
            font-size: 1em;
            @include border-radius(0 3px 3px 0);
            border: 0;
            outline: 0;
            text-align: center;
            -webkit-appearance: none;
            margin: 0;
            padding: 0 1em;
            font-family: $font;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                opacity: .5;
            }
        }
    }


    /*
    Content Styles
    Main container for content, i.e. the icons, error messages, etc
    */
    .wrapper {
        background: #dfdfde;
        border: 1px solid #ccc;
        text-align: center;
        padding: 2em;
        margin: .5em 0 2em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        @include border-radius(3px);
        position: relative;
    }

    .content {
        max-width: 512px;
        margin: 0 auto;
        position: relative;
        word-wrap: break-word; /* for long urls */

        * {
             //does a simple reset on elements in .content
            margin: 0;
            padding: 0;
        }

        strong {
            font-weight: bold;
            display: block;
        }

        em {
            font-style: normal;
            background-color: #ebdada;
        }
    }

    //using pseudo elements to create a loading state
    .content--loading {

        //creates a slightly opaque white overlay on the content area
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ebdada;
            opacity: .9;
            z-index: 10;
        }

        //displays an animated loading gif inside our box
        &:after {
            content: url('../Loading_icon.gif');
            position: absolute;
            left: 50%;
            top: 3em;
            margin-left: -16px;
            margin-top: -16px;
            z-index: 11;
        }
    }

    .content--error {
        color: $highlight;
    }

    //style the positioning mask over the icon
    img[src*="icon-mask.png"] {
        position: absolute;
        left: 0;
        top: 0;
    }

}

