/*
General Styles
*/

$highlight: #363b74;
$text: dimgray;
$text-light: #9A9A9A;
$body-background: #ebdada;
$background-color: #d7c6cf;
$border-color: blueviolet;
$font: 'Acme', sans-serif;
$max-width: 43.75em; // 880/16
$padding: 0;

/*
Imports
 */

@import 'media';

/*
Mixins
*/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform ($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

/*
Styling content
 */

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: $padding;
}


html {
    box-sizing: border-box;
    background: $body-background;
    text-align: center;
}

/*Using body as wrapper by setting it's max-width*/
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    padding: $padding;
    color: $text;

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        color: inherit;
    }

    /*
    Header Styles
    */

    header {
        margin: 1em 0 2em;
        margin-top: 0;
        padding: 2em;
        color: $highlight;
        background-color: $background-color;
        @include transition (all 0.5s ease 0s);

        &:hover {
            @include transform(scale(1.20));
        }

        h1 {
            font-family: $font;
            font-size: 4em;
            text-shadow: 0 4px 2px rgba(0, 0, 0, .1);
            margin: 0;

            a {
                text-decoration: none;
            }
        }

        p {
            margin-top: -.625em;
            text-indent: 7.75em; //indent slightly
            text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
            font-size: .875em; // 14/16
        }
    }

    /*
    Form Input
    Styles for the form input and button
    */

    form {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;

        input {
            width: 100%;
            display: block;
            font-size: 1em;
            padding: .625em .85em;
            padding-right: 7em;
            line-height: 1.5;
            margin: 0;
            border: 1px solid #bbb;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset,
            0 2px 4px rgba(0, 0, 0, .1);
            @include border-radius(3px);

            &:focus {
                border-color: $border-color;
            }

            &:active {
                @extend :focus;
            }

            &:visited {
                @extend :focus;
            }
        }

        button {
            text-decoration: none;
            background: $highlight;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 1.5;
            color: #dfdfde;
            font-size: 1em;
            @include border-radius(0 3px 3px 0);
            border: 0;
            outline: 0;
            text-align: center;
            -webkit-appearance: none;
            margin: 0;
            padding: 0 1em;
            font-family: $font;

            &:hover {
                cursor: pointer;
                color: #ffffff;
            }

            &:disabled {
                opacity: .5;
            }
        }
    }


    /*
    Content Styles
    Main container for content, i.e. the icons, error messages, etc
    */
    .wrapper {
        background: #fff;
        border: 1px solid #ffffff;
        text-align: center;
        padding: 2em;
        margin: 30px auto;
        max-width: $max-width;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        @include border-radius(3px);
        position: relative;
    }

    .content {
        max-width: 512px;
        margin: 0 auto;
        position: relative;
        word-wrap: break-word; /* for long urls */

        * {
             //does a simple reset on elements in .content
            margin: 0;
            padding: $padding;
        }

        strong {
            font-weight: bold;
            display: block;
        }

        em {
            font-style: normal;
            background-color: #ebdada;
        }

        //style the positioning mask over the icon
        img[src*="icon-mask.png"] {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    //using pseudo elements to create a loading state
    .content--loading {

        //creates a slightly opaque white overlay on the content area
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ebdada;
            opacity: .9;
            z-index: 10;
        }

        //displays an animated loading gif inside our box
        &:after {
            content: url('../img/Loading_icon.gif');
            position: absolute;
            left: 50%;
            top: 3em;
            margin-left: -16px;
            margin-top: -16px;
            z-index: 11;
        }
    }

    .content--error {
        color: $highlight;
    }

    footer {
        margin-bottom: 0;
        padding: 2em;
        font-family: $font;
        background-color: $background-color;
        @include transition (all 0.5s ease 0s);

        &:hover {
            @include transform(scale(1.20));
        }

        img {
            width: 120px;
            height: 50px;
            @include transition (all 0.5s ease 0s);

            &:hover {
                @include transform(scale(1.15) rotate(360deg));
            }
        }
    }
}

