//Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

* {
  box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-left: 44px;
}

#container {
    width: 1080px;
    margin: 0 auto;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        float: left;
        margin: 10px;
        list-style: none;
        outline: solid;
        width: 150px;
        height: 150px;
    }
}


