/*
General Styles
*/
/*
Imports
 */
@media screen and (max-width: 600px) {
  header p {
    text-indent: 0;
    margin-top: .5em; } }

/*
Mixins
*/
/*
Styling content
 */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  background: #ebdada;
  text-align: center; }

/*Using body as wrapper by setting it's max-width*/
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: Lucida Grande, sans-serif;
  padding: 0;
  color: dimgray;
  /*
    Header Styles
    */
  /*
    Form Input
    Styles for the form input and button
    */
  /*
    Content Styles
    Main container for content, i.e. the icons, error messages, etc
    */ }
  body img {
    max-width: 100%;
    height: auto; }
  body a {
    color: inherit; }
  body header {
    margin: 1em 0 2em;
    margin-top: 0;
    padding: 2em;
    color: #363b74;
    background-color: #d7c6cf;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    body header:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    body header h1 {
      font-family: "Acme", sans-serif;
      font-size: 4em;
      text-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
      margin: 0; }
      body header h1 a {
        text-decoration: none; }
    body header p {
      margin-top: -.625em;
      text-indent: 7.75em;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
      font-size: .875em; }
  body form {
    position: relative;
    max-width: 43.75em;
    margin: 0 auto; }
    body form input {
      width: 100%;
      display: block;
      font-size: 1em;
      padding: .625em .85em;
      padding-right: 7em;
      line-height: 1.5;
      margin: 0;
      border: 1px solid #bbb;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 2px 4px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      body form input:focus, body form input:active, body form input:visited {
        border-color: blueviolet; }
    body form button {
      text-decoration: none;
      background: #363b74;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.5;
      color: #dfdfde;
      font-size: 1em;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      border: 0;
      outline: 0;
      text-align: center;
      -webkit-appearance: none;
      margin: 0;
      padding: 0 1em;
      font-family: "Acme", sans-serif; }
      body form button:hover {
        cursor: pointer;
        color: #ffffff; }
      body form button:disabled {
        opacity: .5; }
  body .wrapper {
    background: #fff;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 2em;
    margin: 30px auto;
    max-width: 43.75em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: relative; }
  body .content {
    max-width: 512px;
    margin: 0 auto;
    position: relative;
    word-wrap: break-word;
    /* for long urls */ }
    body .content * {
      margin: 0;
      padding: 0; }
    body .content strong {
      font-weight: bold;
      display: block; }
    body .content em {
      font-style: normal;
      background-color: #ebdada; }
    body .content img[src*="icon-mask.png"] {
      position: absolute;
      left: 0;
      top: 0; }
  body .content--loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ebdada;
    opacity: .9;
    z-index: 10; }
  body .content--loading:after {
    content: url("../img/loading.gif");
    position: absolute;
    left: 50%;
    top: 3em;
    margin-left: -252px;
    margin-top: -16px;
    z-index: 11; }
  body .content--error {
    color: #363b74; }
  body footer {
    margin-bottom: 0;
    padding: 2em;
    font-family: "Acme", sans-serif;
    background-color: #d7c6cf;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    body footer:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    body footer img {
      width: 120px;
      height: 50px;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      body footer img:hover {
        -webkit-transform: scale(1.15) rotate(360deg);
        -moz-transform: scale(1.15) rotate(360deg);
        -o-transform: scale(1.15) rotate(360deg);
        transform: scale(1.15) rotate(360deg); }
